<div style="text-align: end; height: 50px; padding: 10px;">
    <br>
    <label style="font-size: 30px; color: green; font-weight: 800;"> Current liveness score: {{liveness}}</label>
</div>
<mat-stepper [linear]="true" class="stepper">
    <mat-step>
        <ng-template matStepLabel>Create/Import Wallet</ng-template>
        <mat-card>
            <div class="center">
                <button class="btn-250" mat-button (click)="createWallet('new')">Create new wallet address</button>
                <button class="btn-250" mat-button (click)="createWallet('existing')">Import wallet from mneumonic</button>
            </div>
        </mat-card>
        <div class="right">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext color="primary">Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>OTP validation</ng-template>
        <mat-card>
            <div class="center">
                <p>Enter your email address and click send to receive your OTP</p>
                <span>
                    <input mat-input type="text" [(ngModel)]="otpEmail" placeholder="email...">
                    <button mat-button>Send</button>
                </span>
                <br>
                <br>
                <p>
                    Verify the OTP sent to your email address and click Verify to continue.
                </p>
                <span>
                    <input mat-input type="text" placeholder="OTP..." [(ngModel)]="otp"/>
                    <button mat-button>Verify</button>
                </span>
            </div>
        </mat-card>
        <div class="right">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext color="primary">Next</button>
          </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Social login</ng-template>
        <mat-card>
            <div class="center">
                <button mat-button (click)="login()">
                    <label>Login with a social profile</label>
                </button>
            </div>
        </mat-card>
        <div class="right">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext (click)="logout()">Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Liveness image capture</ng-template>
        <mat-card >
            <div class="center">
  
                <h2>Capture liveness image</h2>

                <button mat-button (click)="openCamera(true)">Start Camera</button>
              
                <div *ngIf="showCamera">
                    <div>
                        <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
                        <br>
                        <button mat-button (click)="triggerSnapshot();">Capture</button>
                    </div>
                </div>
            </div>
        </mat-card>
        <div class="right">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext id="imageCaptureCompleted">Next</button>
          </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Uplaod document</ng-template>
        <mat-card>
            <div class="center">
                <h2>Upload government issued ID document</h2>
                <input mat-input type="file" (change)="docSubmitted()">
            </div>
        </mat-card>
        <div class="right">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
    </mat-step> 
    <mat-step>
        <ng-template matStepLabel>Mint dotAlgo-DID</ng-template>
        <mat-card>
            <div class="center" >
                <br>
                <h2 class="success">All steps completed...</h2>
                <br>
            </div>
        </mat-card>
        <div class="right">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button color="primary">Mint</button>
        </div>
    </mat-step>
</mat-stepper>

<style>
    .stepper{
        height: 70%;
    }
</style>