<div style="text-align: end;">
    <label style="font-size: large; padding:10px"> Current liveness score: {{liveness}}</label>
</div>
<mat-stepper [linear]="true">
    <mat-step>
        <ng-template matStepLabel>Create/Import Wallet</ng-template>
        <mat-card>
            <div class="center">
                <button class="btn-250" mat-button>Create new wallet address</button>
                <button class="btn-250" mat-button>Import wallet from mneumonic</button>
            </div>
        </mat-card>
        <div class="right">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext color="primary">Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>OTP validation</ng-template>
        <mat-card>
            <div class="center">
                <input mat-input type="text" placeholder="OTP..." />
            </div>
        </mat-card>
        <div class="right">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext color="primary">Next</button>
          </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Social login</ng-template>
        <mat-card>
            <div class="center">
                <button mat-button (click)="login()">
                    <label>Login with a social profile</label>
                </button>
            </div>
        </mat-card>
        <div class="right">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext color="primary">Next</button>
          </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Liveness image capture</ng-template>
        <mat-card >
            <div class="center">
  
                <h2>Capture liveness image</h2>

                <button mat-button (click)="openCamera(true)">Start Camera</button>
              
                <div *ngIf="showCamera">
                    <div>
                        <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
                        <br>
                        <button mat-button (click)="triggerSnapshot();">Capture</button>
                    </div>
                </div>
            </div>
        </mat-card>
        <div class="right">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext color="primary" id="next">Next</button>
          </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Uplaod document</ng-template>
        <mat-card>
            <div class="center">
                <h2>Upload government issued ID document</h2>
                <input mat-input type="file">
            </div>
        </mat-card>
        <div class="right">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext  color="primary">Next</button>
          </div>
    </mat-step> 
    <mat-step>
        <ng-template matStepLabel>Mint dotAlgo-DID</ng-template>
        <mat-card>
            <div class="center" >
                <br>
                <h2 class="success">All steps completed...</h2>
                <br>
            </div>
        </mat-card>
        <div class="right">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button color="primary">Mint</button>
        </div>
    </mat-step>
</mat-stepper>